{{define "collection"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/collection.css">
    <title>Page de TEST</title>
</head>
<body>
    <nav>
        <div class="logo-nav">
            <a href="#"><img src="/static/img/Marvel_Logo.png" alt="Logo Marvel"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/mainMenu">Accueil</a></li>
            <li><a href="/collection">Collection</a></li>
            <li><a href="/ressource">Ressource</a></li>
            <li><a href="/categorie">Categorie</a></li>
            <li><a href="/favoris">Favoris</a></li>
            <li><a href="/recherche">Recherche</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h1>Liste des personnages Marvel</h1>
    <ul>
        {{range .data.results}}
        <li>
            <h2>{{.name}}</h2>
            <img src="{{.thumbnail.path}}.{{.thumbnail.extension}}" alt="{{.name}}" width="100">
            <p>{{.description}}</p>
        </li>
        {{end}}
    </ul>
    <div class="cont-img">
        <img class="bulle1" id="BulleB1" src="static/img/TopM.svg">
        <img class="bulle2" id="BulleB2" src="static/img/Right.svg">
        <img class="bulle3" id="BulleB3" src="static/img/Bottom.svg">
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
{{end}}